.modal-ku {
  position: absolute;
  margin: auto;
  top: 125px;
  left: 0;
  right: 0;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.custom-images {

}

.custom-description{
  margin-top: 30px;
}