.modal-ku {
  position: absolute;
  margin: auto;
  top: 125px;
  left: 0;
  right: 0;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.custom-descriptions {
  margin-top: 30px;
}
 
.custom-address,
.custom-categories,
.custom-contacts,
.custom-site,
.custom-images,
.custom-operation,
.custom-social {
  margin-top: 10px;
}

.custom-social a{
  margin-right: 10px;
}


