.modal-ku {
  position: absolute;
  margin: auto;
  top: 125px;
  left: 0;
  right: 0;
}

@media (max-width: 1400px) {
  .modal-ku {
    width: 1300px;
  }
}

@media (max-width: 1300px) {
  .modal-ku {
    width: 1200px;
  }
}

@media (max-width: 1200px) {
  .modal-ku {
    width: 1100px;
  }
}

@media (max-width: 1100px) {
  .modal-ku {
    width: 1000px;
  }
}

@media (max-width: 1000px) {
  .modal-ku {
    width: 900px;
  }
}

@media (max-width: 900px) {
  .modal-ku {
    width: 800px;
  }
}

@media (max-width: 800px) {
  .modal-ku {
    width: 700px;
  }
}

@media (max-width: 700px) {
  .modal-ku {
    width: 600px;
  }
}

@media (max-width: 600px) {
  .modal-ku {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .modal-ku {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .modal-ku {
    width: 300px;
  }
}
